* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.player {
  position: absolute;
  color: #fafafa;
  width: 100%;
  text-align: center;
  margin: 5rem 0rem;
  font-size: 1.75rem;
}

#canvas {
  width: 100%;
  height: 100%;
}

.rulesBtn {
  position: absolute;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0.35rem 1rem;
  cursor: pointer;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
